.content{
    display: flex;
    flex-wrap: wrap;
    border: 3px solid black;
    background-color: rgb(240, 180, 240);
    height: 100px;
    width:35%;
}
.button{
    border: 0;
    background-color: rgb(130, 130, 238);
    padding: 10px 45px;
    color:white;
    margin: 7px 16px;
    border-radius: 5px;
}