.content{
    display: flex;
    flex-wrap: wrap;
    border: 3px solid black;
    background-color: rgb(231, 224, 231);
    height: 100px;
    width:35%;
}
.button{
    border: 0;
    background-color: rgb(20, 255, 51);
    padding: 10px 45px;
    color:white;
    margin: 7px 16px;
    border-radius: 5px;
}
