*{
    padding: 0;
    margin: 0;
}

.head{
    display: flex;
    align-items: center;
    background-color: rgb(95, 95, 217);
    color: white;
    height: 30px;
    width: 800px;
    padding-left: 10px;
    margin-top: 5px;
    margin-left: 5px;
}

.body{
    display: flex;
    flex-direction: row;
    color: white;
    margin: 5px;
}

.slide{
    background-color: rgb(28, 230, 28);
    height: 240px;
    width: 160px;
    padding-left: 10px;
    padding-top: 10px;
}

.content{
    background-color: rgb(223, 45, 14);
    height: 240px;
    width: 625px;
    padding-left: 10px;
    padding-top: 10px;
    margin-left: 5px;
}

.footer{
    display: flex;
    align-items: center;
    background-color: rgb(171, 23, 179);
    color: white;
    height: 30px;
    width: 800px;
    padding-left: 10px;
    margin-left: 5px;
}
