.contais{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 70%;
    justify-content:space-between;
}
.div{
    border: 0;
    background-color: rgb(168, 23, 158);
    padding: 15px 60px;
    color:white;
    margin: 7px 14px;
    border-radius: 5px;
}
